<form class="search-panel" #searchForm="ngForm" (ngSubmit)="searchRequested.emit(searchForm)">

  @if (error) {
  <div class="form-error">{{ error }}</div>
  }

  <div class="search-primary">
    <div class="search-input-wrap">
      <span class="search-icon">&#x1F50D;</span>
      <input
        type="text"
        class="search-input"
        name="name"
        [(ngModel)]="filters['name']"
        [placeholder]="'profileList.search.placeholders.search' | translate"
        maxlength="60"
        pattern="[A-Za-z .-]*"
      />
    </div>

    <div class="search-quick-filters">
      @if (!isAuthenticated) {
      <div class="qf-field">
        <label>{{ 'profileList.search.lookingFor' | translate }}</label>
        <select name="lookingForQuick" [(ngModel)]="filters['lookingFor']">
          <option value="Bride">{{ 'profileList.search.bride' | translate }}</option>
          <option value="Groom">{{ 'profileList.search.groom' | translate }}</option>
        </select>
      </div>
      }
      <div class="qf-field">
        <label>{{ 'profileList.search.age' | translate }}</label>
        <div class="age-range">
          <select name="ageMin" [(ngModel)]="filters['ageMin']">
            <option [ngValue]="18">18</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="22">22</option>
            <option [ngValue]="24">24</option>
            <option [ngValue]="26">26</option>
            <option [ngValue]="28">28</option>
            <option [ngValue]="30">30</option>
            <option [ngValue]="32">32</option>
            <option [ngValue]="34">34</option>
            <option [ngValue]="36">36</option>
            <option [ngValue]="38">38</option>
            <option [ngValue]="40">40</option>
            <option [ngValue]="42">42</option>
            <option [ngValue]="44">44</option>
            <option [ngValue]="46">46</option>
            <option [ngValue]="48">48</option>
            <option [ngValue]="50">50</option>
          </select>
          <span class="range-sep">{{ 'profileList.search.to' | translate }}</span>
          <select name="ageMax" [(ngModel)]="filters['ageMax']">
            <option [ngValue]="20">20</option>
            <option [ngValue]="22">22</option>
            <option [ngValue]="24">24</option>
            <option [ngValue]="26">26</option>
            <option [ngValue]="28">28</option>
            <option [ngValue]="30">30</option>
            <option [ngValue]="32">32</option>
            <option [ngValue]="34">34</option>
            <option [ngValue]="36">36</option>
            <option [ngValue]="38">38</option>
            <option [ngValue]="40">40</option>
            <option [ngValue]="42">42</option>
            <option [ngValue]="44">44</option>
            <option [ngValue]="46">46</option>
            <option [ngValue]="48">48</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="55">55</option>
            <option [ngValue]="60">60</option>
          </select>
        </div>
      </div>
      <div class="qf-field">
        <label>{{ 'profileList.search.city' | translate }}</label>
        <input type="text" name="location" [(ngModel)]="filters['location']" [placeholder]="'profileList.search.any' | translate" maxlength="60" pattern="[A-Za-z .-]*" />
      </div>
      <button type="submit" class="btn-search">{{ 'common.search' | translate }}</button>
    </div>
  </div>

  <div class="search-meta-bar">
    <button type="button" class="filter-toggle" (click)="showAdvanced = !showAdvanced" [class.active]="showAdvanced">
      <span class="toggle-arrow" [class.open]="showAdvanced">&#x25B8;</span>
      {{ 'profileList.search.filters' | translate }}
      @if (activeFilterCount > 0) {
        <span class="filter-badge">{{ activeFilterCount }}</span>
      }
    </button>

    <div class="result-summary">
      <strong>{{ resultsCount }}</strong>
      <span>{{ 'profileList.search.matchingProfiles' | translate }}</span>
    </div>

    <label class="sort-control">
      {{ 'profileList.search.sortBy' | translate }}
      <select name="sortBy" [ngModel]="sortBy" (ngModelChange)="sortByChange.emit($event)">
        <option value="relevance">{{ 'profileList.search.sortRelevance' | translate }}</option>
        <option value="age-asc">{{ 'profileList.search.ageLowToHigh' | translate }}</option>
        <option value="age-desc">{{ 'profileList.search.ageHighToLow' | translate }}</option>
      </select>
    </label>
  </div>

  @if (showAdvanced) {
  <div class="advanced-panel">
    <div class="adv-grid">
      <div class="adv-field">
        <label>{{ 'profile.religion' | translate }}</label>
        <select name="religion" [(ngModel)]="filters['religion']" (ngModelChange)="religionChange.emit()">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          @for (opt of religionOptions; track opt.id) {
            <option [value]="opt.id">{{ opt.label }}</option>
          }
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profile.caste' | translate }}</label>
        <select name="caste" [(ngModel)]="filters['caste']">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          @for (opt of casteOptions; track opt.id) {
            <option [value]="opt.id">{{ opt.label }}</option>
          }
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profile.education' | translate }}</label>
        <select name="education" [(ngModel)]="filters['education']">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          @for (opt of educationOptions; track opt.id) {
            <option [value]="opt.id">{{ opt.label }}</option>
          }
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profile.maritalStatus' | translate }}</label>
        <select name="maritalStatus" [(ngModel)]="filters['maritalStatus']">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          @for (opt of maritalStatusOptions; track opt.id) {
            <option [value]="opt.id">{{ opt.label }}</option>
          }
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profile.occupation' | translate }}</label>
        <select name="occupationFilter" [(ngModel)]="filters['occupationId']">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          @for (opt of occupationOptions; track opt.id) {
            <option [value]="opt.id">{{ opt.label }}</option>
          }
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profileList.search.occupationPlace' | translate }}</label>
        <input type="text" name="workingCity" [(ngModel)]="filters['workingCity']" [placeholder]="'profileList.search.any' | translate" maxlength="60" pattern="[A-Za-z .-]*" />
      </div>
      <div class="adv-field">
        <label>{{ 'profileList.search.incomeRangePerAnnum' | translate }}</label>
        <select name="annualIncomeFrom" [(ngModel)]="filters['annualIncomeFrom']">
          <option value="">{{ 'profileList.search.any' | translate }}</option>
          <option [ngValue]="0">{{ 'profileList.search.income0' | translate }}</option>
          <option [ngValue]="200000">{{ 'profileList.search.income2L' | translate }}</option>
          <option [ngValue]="400000">{{ 'profileList.search.income4L' | translate }}</option>
          <option [ngValue]="600000">{{ 'profileList.search.income6L' | translate }}</option>
          <option [ngValue]="800000">{{ 'profileList.search.income8L' | translate }}</option>
          <option [ngValue]="1000000">{{ 'profileList.search.income10L' | translate }}</option>
          <option [ngValue]="1500000">{{ 'profileList.search.income15L' | translate }}</option>
          <option [ngValue]="2000000">{{ 'profileList.search.income20L' | translate }}</option>
          <option [ngValue]="3000000">{{ 'profileList.search.income30L' | translate }}</option>
          <option [ngValue]="5000000">{{ 'profileList.search.income50L' | translate }}</option>
          <option [ngValue]="10000000">{{ 'profileList.search.income1Cr' | translate }}</option>
        </select>
      </div>
      <div class="adv-field">
        <label>{{ 'profileList.search.nativePlace' | translate }}</label>
        <input type="text" name="nativePlace" [(ngModel)]="filters['nativePlace']" [placeholder]="'profileList.search.any' | translate" maxlength="60" pattern="[A-Za-z .-]*" />
      </div>
      <div class="adv-field">
        <label>{{ 'profile.height' | translate }}</label>
        <select name="height" [(ngModel)]="filters['height']">
          <option value="Any">{{ 'profileList.search.any' | translate }}</option>
          <option value="4'10&quot; - 5'0&quot;">4'10&quot; - 5'0&quot;</option>
          <option value="5'0&quot; - 5'2&quot;">5'0&quot; - 5'2&quot;</option>
          <option value="5'2&quot; - 5'4&quot;">5'2&quot; - 5'4&quot;</option>
          <option value="5'4&quot; - 5'6&quot;">5'4&quot; - 5'6&quot;</option>
          <option value="5'6&quot; - 5'8&quot;">5'6&quot; - 5'8&quot;</option>
          <option value="5'8&quot; - 5'10&quot;">5'8&quot; - 5'10&quot;</option>
          <option value="5'10&quot; - 6'0&quot;">5'10&quot; - 6'0&quot;</option>
          <option value="6'0&quot; - 6'2&quot;">6'0&quot; - 6'2&quot;</option>
          <option value="6'2&quot;+">6'2&quot;+</option>
        </select>
      </div>
    </div>
    <div class="adv-footer">
      <button type="button" class="btn-clear" (click)="clearFilters()">{{ 'profileList.search.clearAll' | translate }}</button>
      <button type="button" class="btn-apply" (click)="searchRequested.emit(searchForm)">{{ 'profileList.search.applyFilters' | translate }}</button>
    </div>
  </div>
  }
</form>
