<section>
  <h2>{{ 'register.educationDetails' | translate }}</h2>
  <div class="field-grid compact" [formGroup]="career">
    <div class="form-field">
      <label>{{ 'register.educationAreaImportant' | translate }}</label>
      <select formControlName="educationAreaId">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        @for (opt of educationAreaOptions; track opt.id) { <option [ngValue]="opt.id">{{ opt.label }}</option> }
      </select>
    </div>
    <div class="form-field">
      <label>{{ 'editProfile.education' | translate }}</label>
      <select formControlName="educationId">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        @for (opt of educationOptions; track opt.id) { <option [ngValue]="opt.id">{{ opt.label }}</option> }
      </select>
    </div>
    <div class="form-field">
      <label>{{ 'register.occupationTypeImportant' | translate }}</label>
      <select formControlName="occupationId">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        @for (opt of occupationTypeOptions; track opt.id) { <option [ngValue]="opt.id">{{ opt.label }}</option> }
      </select>
    </div>
    <div class="form-field">
      <label>{{ 'editProfile.occupationDetails' | translate }}</label>
      <input type="text" formControlName="occupationDetails" maxlength="120" />
    </div>
    <div class="form-field">
      <label>{{ 'editProfile.workingCountry' | translate }}</label>
      <select formControlName="workingCountryId">
        <option [ngValue]="null">{{ 'common.selectCountry' | translate }}</option>
        @for (c of countryOptions; track c.countryId) { <option [ngValue]="c.countryId">{{ c.name }}</option> }
        <option [ngValue]="0">{{ 'common.other' | translate }}</option>
      </select>
    </div>
    @if (isWorkingCountryOther) {
      <div class="form-field">
        <label>{{ 'editProfile.workingCountryOtherLbl' | translate }}</label>
        <input type="text" formControlName="workingCountryOther" [attr.placeholder]="'editProfile.enterCountryName' | translate" maxlength="100" />
      </div>
    }
    @if (career.get('workingCountryId')?.value && career.get('workingCountryId')?.value !== 0) {
      <div class="form-field">
        <label>{{ 'editProfile.workingState' | translate }}</label>
        <select formControlName="workingStateId">
          <option [ngValue]="null">{{ 'common.selectState' | translate }}</option>
          @for (s of workingStates; track s.stateId) { <option [ngValue]="s.stateId">{{ s.name }}</option> }
          <option [ngValue]="0">{{ 'common.other' | translate }}</option>
        </select>
      </div>
      @if (isWorkingStateOther) {
        <div class="form-field">
          <label>{{ 'editProfile.workingStateOtherLbl' | translate }}</label>
          <input type="text" formControlName="workingStateOther" [attr.placeholder]="'editProfile.enterStateName' | translate" maxlength="100" />
        </div>
        <div class="form-field">
          <label>{{ 'editProfile.workingCityOtherLbl' | translate }}</label>
          <input type="text" formControlName="workingCity" [attr.placeholder]="'editProfile.enterCityName' | translate" maxlength="120" />
        </div>
      }
      @if (!isWorkingStateOther && career.get('workingStateId')?.value) {
        <div class="form-field">
          <label>{{ 'editProfile.workingCityDistrictLbl' | translate }}</label>
          <select formControlName="workingCity" [disabled]="workingDistricts.length === 0">
            <option value="">{{ 'common.selectDistrict' | translate }}</option>
            @for (d of workingDistricts; track d.districtId) { <option [value]="d.name!">{{ d.name }}</option> }
            <option value="__other__">{{ 'common.other' | translate }}</option>
          </select>
        </div>
        @if (isWorkingCityOther) {
          <div class="form-field">
            <label>{{ 'editProfile.workingCityOtherLbl' | translate }}</label>
            <input type="text" formControlName="workingCityOther" [attr.placeholder]="'editProfile.enterCityName' | translate" maxlength="120" />
          </div>
        }
      }
    }
    <div class="form-field">
      <label>{{ 'editProfile.incomeAmount' | translate }}</label>
      <input type="number" formControlName="incomeAmount" maxlength="12" min="0" />
    </div>
    <div class="form-field">
      <label>{{ 'editProfile.incomePeriod' | translate }}</label>
      <select formControlName="incomePeriodId">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        @for (opt of incomePeriodOptions; track opt.id) { <option [ngValue]="opt.id">{{ opt.label }}</option> }
      </select>
    </div>
  </div>
</section>
